<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success Page</title>
    <style>
        h1,p {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>The form was submitted successfully</h1>
    <p>
        Thanks for letting us know of the bug!We will try our best to resolve the issue in the least amount of time possible.Let us know if there are any other issues or bugs.
    </p>
</body>
</html>